<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head')%>
        <link rel="stylesheet" href="./css/resultados.css">
        <link rel="stylesheet" href="./css/estatisticas.css">
        <title>Resultados da Copa - Estatísticas</title>
</head>

<body>
    <%- include('./partials/header')%>

        <div id="title-stats">Estatísticas da Copa do Mundo 2022</div>
        <div class="stats-name">GOLS</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.goals.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.goals.name  %> </span> <br> <%= data.goals.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.goals.number %> </div>
            <div class="stats-results"><%= data.goals.occurrences %></div>
        </section>

        <div class="stats-name">ASSISTÊNCIAS</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.assistances.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.assistances.name  %> </span> <br> <%= data.assistances.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.assistances.number %> </div>
            <div class="stats-results"><%= data.assistances.occurrences %></div>
        </section>

        <div class="stats-name">FINALIZAÇÕES</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.shotsOnTarget.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.shotsOnTarget.name  %> </span> <br> <%= data.shotsOnTarget.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.shotsOnTarget.number %> </div>
            <div class="stats-results"><%= data.shotsOnTarget.occurrences %></div>
        </section>

        <div class="stats-name">CARTÕES AMARELOS</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.yellowCards.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.yellowCards.name  %> </span> <br> <%= data.yellowCards.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.yellowCards.number %> </div>
            <div class="stats-results"><%= data.yellowCards.occurrences %></div>
        </section>

        <div class="stats-name">CARTÕES VERMELHOS</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.redCards.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.redCards.name  %> </span> <br> <%= data.redCards.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.redCards.number %> </div>
            <div class="stats-results"><%= data.redCards.occurrences %></div>
        </section>

        <div class="stats-name">FALTAS</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.fouls.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.fouls.name  %> </span> <br> <%= data.fouls.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.fouls.number %> </div>
            <div class="stats-results"><%= data.fouls.occurrences %></div>
        </section>

        <div class="stats-name">DEFESAS</div>
        <section id="first-table">
            <div class="pics"><img class="player-pic" src="./img/<%= data.defenses.picture %>" alt="foto do jogador Lionel Messi"></div>
            <div class="player"><span class="player-2"><%= data.defenses.name  %> </span> <br> <%= data.defenses.position %> </div>
            <div class="games"><span class="games-bld">Número</span> <br> <%= data.defenses.number %> </div>
            <div class="stats-results"><%= data.defenses.occurrences %></div>
        </section>

        <%- include('./partials/footer')%>

</body>

</html>