<!DOCTYPE html>
<html lang="pt-br">

<head>
	<%- include('./partials/head') %>
		<link rel="stylesheet" href="./css/perfil.css">

		<title>Perfil | Resultados da Copa</title>
</head>

<body>
	<%- include('./partials/header')%>

		<h1>Perfil</h1>
		<form action="/perfil" method="POST" enctype="multipart/form-data">
			<fieldset id="desktop">
				<fieldset id="imageFieldset">
					<img id="userImage" src="/img/match-placeholder.jpg" alt="User">

					<fieldset id="nameFieldset">
						<label class="label">Nome completo</label>
						<input type="text" name="name" value=<%=userData.nome%> autofocus>

						<label class="label">Nome de usuário</label>
						<input disabled type="text" name="username" value=<%=userData.nome %>>
					</fieldset>
					<fieldset>
						<label class="label">E-mail</label>
						<input type="email" name="email" value=<%=userData.email%>>
	
						<label class="label">Senha</label>
						<input type="password" name="password" placeholder="Nova Senha">
					</fieldset>

				</fieldset>
			</fieldset>

			<fieldset id="dateFieldset">
				<div class="container">
					<label class="label">Seleção favorita</label>
					<select name="user_team" id="selecao-favorita">
						<option class="selecao" value="<%=userData.team%>" selected disabled><%=userData.team%></option>
						<option class="selecao" value="Brasil">Brasil</option>
						<option class="selecao" value="Qatar">Qatar</option>
					</select>
				</div>

				<div class="container-2">
					<label class="label">Data de nascimento</label>
					<input disabled type="date" name="date" value=<%=userData.birth_date%>>
				</div>
			</fieldset>

			<fieldset id="imgFieldset">
				<label class="label">foto do perfil</label>
				<input type="file" name="imageprofile">
			</fieldset>

			<fieldset id="save-exit">
				<button class="btn" id="save-btn" type="submit">SALVAR</button>
				<button class="btn" id="logout-btn" type="submit" formaction="/logout">
					<a>
						SAIR
					</a>
				</button>
			</fieldset>
		</form>

		<%- include('./partials/footer')%>
</body>

</html>